<!-- color="primary">
  <button mat-icon-button (click)="toggle.emit(null)">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>SimpleCRM</h1>
    <span class="menu-spacer"></span>
  <div>
    <a mat-button [routerLink]="'/accounts'"> Accounts </a>
  </div>
</mat-toolbar-->

<div class="navbar">
  <div class="container navbar-container">
    <div class="navbar__left">
      <button mat-icon-button (click)="toggle.emit(null)">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="assets/logo.png" alt="Logo" class="logo" routerLink="/" />
    </div>

    <div class="navbar__center">
      <form (ngSubmit)="search()">
        <div class="search-container">
          <input
            type="text"
            placeholder="Search..."
            name="searchValue"
            [(ngModel)]="searchValue"
          />
          <mat-icon (click)="search()">search</mat-icon>
        </div>
      </form>
    </div>

    <div class="navbar__right">
      <button mat-icon-button routerLink="/carrinho">
        <mat-icon [matBadge]="carrinhoSize" matBadgeColor="warn"
          >shopping_cart</mat-icon
        >
      </button>
      <div class="avatar-container">
        <ng-template [ngIf]="user">
          <button mat-icon-button [matMenuTriggerFor]="accountMenu">
            <mat-icon>account_circle</mat-icon>
          </button>
          <p>Olá, {{ user.nome }}</p>
          <mat-menu #accountMenu="matMenu">
            <button mat-menu-item routerLink="/perfil">Meu perfil</button>
            <button mat-menu-item routerLink="/pedidos">Meus pedidos</button>
            <button mat-menu-item (click)="logout()">Sair</button>
          </mat-menu>
        </ng-template>

        <ng-template [ngIf]="!user">
          <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
          </button>
          <div>
            <p>Bem vindo</p>
            <span routerLink="/entrar">Entrar</span>
            <span> | </span>
            <span routerLink="/cadastrar">Cadastrar-se</span>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
