<form
  #addressForm="ngForm"
  [formGroup]="enderecoForm"
  class="row"
  (ngSubmit)="saveAddress()"
>
  <mat-form-field class="col-md-8" appearance="outline">
    <mat-label>Cep</mat-label>
    <input
      type="text"
      matInput
      placeholder="Cep"
      formControlName="cep"
      maxlength="8"
    />
    <mat-error *ngIf="enderecoForm.get('cep').invalid">{{
      getErrorMessage(enderecoForm, "cep")
    }}</mat-error>
  </mat-form-field>
  <mat-form-field class="col-md-8" appearance="outline">
    <mat-label>Número</mat-label>
    <input type="text" matInput placeholder="Número" formControlName="numero" />
    <mat-error *ngIf="enderecoForm.get('numero').invalid">{{
      getErrorMessage(enderecoForm, "numero")
    }}</mat-error>
  </mat-form-field>
  <mat-form-field class="col-md-8" appearance="outline">
    <mat-label>Complemento</mat-label>
    <input
      type="text"
      matInput
      placeholder="Complemento"
      formControlName="complemento"
    />
    <mat-error *ngIf="enderecoForm.get('complemento').invalid">{{
      getErrorMessage(enderecoForm, "complemento")
    }}</mat-error>
  </mat-form-field>
  <div class="col-12">
    <button
      mat-flat-button
      class="mr-2"
      color="primary"
      [disabled]="enderecoForm.invalid || loading"
    >
      {{ loading ? "Salvando..." : "Salvar" }}
    </button>
    <button
      mat-flat-button
      type="button"
      (click)="cancelarForm(addressForm)"
      [disabled]="loading"
    >
      Cancelar
    </button>
  </div>
</form>
