<div class="container my-5">
  <h1>Meus pedidos</h1>

  <mat-tab-group>
    <mat-tab label="Em andamento">
      <div class="mt-4"></div>
      <div class="pedido" *ngFor="let compra of compras">
        <div class="pedido__left">
          <div class="pedido__icon">
            <mat-icon>check</mat-icon>
          </div>
          <div class="pedido__text">
            <h3 class="pedido__text__title">Pedido #{{ compra.id }}</h3>
            <strong class="pedido__text__status">{{
              getStatusDescription(compra.status)
            }}</strong>
          </div>
        </div>

        <div class="pedido__right">
          <button mat-button color="primary">Ver detalhes</button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Entregues"> </mat-tab>
  </mat-tab-group>
</div>
