.pedido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pedido__left {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  .pedido__icon {
    background-color: #eee;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    margin-right: 30px;
    user-select: none;

    > mat-icon {
      font-size: 2.5em;
      display: table;
      vertical-align: middle;
      color: #fff;
    }
  }

  .pedido__text {
    &__title {
      font-weight: 500;
      font-size: 1.3em;
      margin-bottom: 7px;
    }

    &__status {
      color: var(--primary);
    }
  }
}
