<div class="container my-5">
  <h1>Meus pedidos</h1>

  <mat-tab-group>
    <mat-tab label="Em andamento">
      <div class="pedido" *ngFor="let compra of compras">
        <h3>N. Pedido: #{{ compra.id }}</h3>

        <h4>
          Total: <strong>{{ formatarValor(compra.total) }}</strong>
        </h4>

        <div class="pedido__timeline">
          <div class="horizontal timeline">
            <div class="steps">
              <div class="step current">
                <span>Pedido Aprovado</span>
              </div>
              <div class="step">
                <span>Em transporte</span>
              </div>
              <div class="step">
                <span>Produto Entregue</span>
              </div>
            </div>

            <div class="line"></div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Entregues"> </mat-tab>
  </mat-tab-group>
</div>
