<div class="product" [ngClass]="{ indisponivel: !produto?.disponivel }">
  <div class="product__top" [routerLink]="['produtos', produto.id, 'detalhes']">
    <img [src]="produto?.fotos[0]?.imageUrl || defaultImage" alt="#" />
  </div>
  <div class="product__bottom">
    <p
      class="product__title"
      [routerLink]="['produtos', produto.id, 'detalhes']"
    >
      {{ produto?.nome }}
    </p>

    <p class="product__price">
      {{
        produto?.valorBase?.toLocaleString("pt-br", {
          style: "currency",
          currency: "BRL"
        })
      }}
    </p>
    <div class="product__button">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!produto?.disponivel"
        [routerLink]="['produtos', produto.id, 'detalhes']"
      >
        {{ produto?.disponivel ? "Adicionar ao carrinho" : "Indisponível" }}
      </button>
    </div>
  </div>
</div>
