<table>
  <tr>
    <th>#</th>
    <th>Nome</th>
    <th>Preço</th>
    <th>Qtd</th>
    <th>Disc.</th>
    <th>Total</th>
    <th></th>
  </tr>

  <tr>
    <td class="td-thumb">
      <div class="thumb">
        <img src="assets/1.jpeg" alt="" />
      </div>
    </td>
    <td>Whey 100% Pure</td>
    <td>$99,99</td>
    <td>x1</td>
    <td class="td-desconto"><mat-icon> minimize </mat-icon></td>
    <td>$88,80</td>
    <td>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </td>
  </tr>
</table>
