<div class="container mt-5">
  <header>
   <form (input)="onFormInput($event)">

    <mat-form-field class="nome">
      <mat-label>Filtrar por nome</mat-label>
      <input matInput type="text" [(ngModel)]="produtoFilter.nome" name="nome">
      <button mat-button *ngIf="produtoFilter.nome" matSuffix mat-icon-button aria-label="Clear" (click)="clearField('nome')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-icon matSuffix *ngIf="!produtoFilter.nome">search</mat-icon>
    </mat-form-field>
    
   </form>
    
    <button mat-raised-button color="primary" routerLink="/admin/produtos/create">Adicionar produto</button>
  </header>

  <app-table-produtos 
    [produtos]="produtos" 
    (delete)="handleDeleteProduto($event)" 
    (edit)="handleEditProduto($event)"
    (manageStock)="handleManageStock($event)"

  ></app-table-produtos>
</div>

