<div class="container my-5">
  <header class="box">
    <form (input)="onFormInput($event)" spellcheck="false" autocomplete="off">
      <mat-form-field class="w-100">
        <mat-label>Filtrar por nome</mat-label>
        <input
          class="w-100"
          matInput
          type="text"
          [(ngModel)]="produtoFilter.nome"
          name="nome"
        />
        <button
          mat-button
          *ngIf="produtoFilter.nome"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearField('nome')"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-icon matSuffix *ngIf="!produtoFilter.nome">search</mat-icon>
      </mat-form-field>
    </form>

    <button
      mat-raised-button
      color="primary"
      routerLink="/admin/produtos/create"
    >
      Adicionar produto
    </button>
  </header>

  <div class="box mt-5">
    <app-table-produtos
      [produtos]="produtos"
      (delete)="handleDeleteProduto($event)"
      (edit)="handleEditProduto($event)"
      (manageStock)="handleManageStock($event)"
    ></app-table-produtos>
  </div>
</div>
