header {
  ::ng-deep .mat-form-field-wrapper {
    margin-bottom: -1.25em;
  }
  padding: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  gap: 20px;

  > form {
    flex-basis: 600px;
  }
}

.box {
  border: 1px solid #ddd;
  background-color: #fff;
}
