/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
  --primary: #673ab7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-size: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.mat-icon {
  color: #888;
}
