.page {
  background-color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;

  > * {
    margin: 10px;
  }
}
